.LogInByEmailInput, .LogInByEmailCode {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 40px;
    & p {
        margin-bottom: 12px;
    }
    & input {
        border: none;
        border-bottom: 1px solid var(--separator);
        height: 28px;
        background-color: transparent;
        padding-left: 10px;
        &:focus-visible {
            border: none;
            border-bottom: 2px solid var(--labelPrimary);
        }
    }
}

.LogInByEmailInput {
    &Group {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid var(--separator);
        &>input {
            width: 100%;
            border-bottom: none;
        }
        &>button {
            display: flex;
            padding-top: 6px;
            position: absolute;
            margin-left: 480px;
            z-index: 11000;
            border: none;
            background-color: transparent;
            &:hover {
                cursor: pointer;
            }
        }
    }
    & span {
        display: flex;
        justify-content: start;
        margin-top: 10px;
    }
    & > .notice {
        z-index: 11000;
        position: absolute;
        text-align: center;
        margin-top: 85px;
        margin-left: 75px;
    }
    &:nth-child(2), &:nth-child(3) {
        margin-top: 10px;
    }
    &:nth-child(3) {
        margin-bottom: 40px;
    }
}

.LogInByEmailState {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10vh;
    padding: 0 40px;
    & div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
            color: var(--intElements);
        }
        & button {
            color: var(--Button_Label);
            border: none;
            border-radius: 12px;
            background-color: var(--intElements);
            padding: 8px 50px 9px 50px;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: var(--intElementsHover);
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }
            &:active {
                background-color: var(--BG_secondary8);
                color: var(--negativeIntElements);
                transition: 0.1s ease-in-out;
                cursor: pointer;
            }
        }
    }
}