.RestoreAccount_overlay {
    z-index: 9999 !important;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.RestoreAccount_box {
    width: 580px;
    background-color: var(--BG_secondary100);
    border-radius: 20px;
    padding: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    & .SignUpCant {
        margin-top: 20px;
        color: var(--intElements);
        border: none;
        background-color: transparent;
        &:hover {
            cursor: pointer;
        }
    }
}
.RestoreAccountClose {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    &>button {
        margin-right: 10px;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.RestoreAccountTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    & h2 {
        text-transform: uppercase;
        margin-left: 20px;
    }
    & button {
        position: relative;
        top: -40px;
        right: -132px;
        border: none;
        background-color: transparent;
        transition: 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
    }
}

.RestoreAccountChoose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

.RestoreAccountState {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    & div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child {
            justify-content: center;
            margin-bottom: 20px;
        }
        &:nth-child(2) span {
            color: var(--intElements);
        }
        & button {
            color: var(--Button_Label);
            border: none;
            border-radius: 12px;
            background-color: var(--intElements);
            padding: 8px 50px 9px 50px;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: var(--intElementsHover);
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }
            &:active {
                background-color: var(--BG_secondary8);
                color: var(--negativeIntElements);
                transition: 0.1s ease-in-out;
                cursor: pointer;
            }
        }
    }
}