.TimeAndBet {
    background-color: var(--intElements);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    padding: 10px 30px;
    & span {
        color: var(--BG_primary);
    }
    & p {
        color: var(--BG_primary);
        opacity: 0.6;
    }
    &Timer {
        display: flex;
        flex-direction: column;
        & p {
            padding-top: 3px;
        }
    }
    &Prise {
        display: flex;
        flex-direction: column;
        & div {
            display: flex;
            align-items: center;
            & span {
                display: flex;
                margin-right: 4px;
                padding-bottom: 3px;
            }
            & svg {
                display: flex;
                align-items: center;
                
            }
        }
    }
}