.TermsPolicy {
    display: flex;
    justify-content: space-between;
    min-height: 90vh;
    &Buttons {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-left: 30px;
        margin-top: 10px;
        & button {
            color: var(--labelTertiary);
            text-decoration: none;
            text-transform: uppercase;
            background: transparent;
            border: none;
            text-align: left;
            margin-top: 20px;
            transition: 0.2s ease-in-out;
            &:hover {
                text-decoration: none;
                color: var(--intElements);
                cursor: pointer;
                transition: 0.2s ease-in-out;
            }
        }
    }
    &Text {
        width: 100%;
        & iframe {
            border: none;
            transition: 1s ease-in-out;
        }
    }
}