.SignUpByNumberInput, .SignUpByNumberCode {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 40px;
    & p {
        margin-bottom: 12px;
    }
    & input {
        margin-top: 12px;
        border: none;
        border-bottom: 1px solid var(--separator);
        height: 28px;
        background-color: transparent;
        &:focus-visible {
            border: none;
            border-bottom: 2px solid var(--labelPrimary);
        }
    }
}

.SignUpByNumberInput {
    & span {
        display: flex;
        justify-content: start;
        margin-top: 10px;
    }
    & > .notice {
        z-index: 11000;
        position: absolute;
        text-align: center;
        margin-top: 85px;
        margin-left: 75px;
    }
    &:nth-child(1) {
        margin-bottom: 40px;
    }
}

.SignUpByNumberCode {
    margin-top: 20px;
    & span, button {
        display: flex;
        justify-content: flex-end;
        color: var(--intElements);
        margin-top: 10px;
    }
    & button {
        border: none;
        background-color: transparent;
        &:hover {
            cursor: pointer;
            color: var(--intElementsHover);
        }
        &:active {
            color: var(--accent);
        }
    }
}

.SignUpByNumberState {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding: 0 40px;
    & div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child {
            justify-content: center;
            margin-bottom: 20px;
        }
        &:nth-child(2) span {
            color: var(--intElements);
        }
        & button {
            color: var(--Button_Label);
            border: none;
            border-radius: 12px;
            background-color: var(--intElements);
            padding: 8px 50px 9px 50px;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: var(--intElementsHover);
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }
            &:active {
                background-color: var(--BG_secondary8);
                color: var(--negativeIntElements);
                transition: 0.1s ease-in-out;
                cursor: pointer;
            }
        }
    }
}