.FormInterests {
    display: flex;
    flex-direction: column;
    padding: 0 40px;

    &Category {
        display: flex;
        flex-direction: column;

        &Group {
            margin-top: 20px;

            &>div {
                margin-bottom: 8px;
            }
        }
    }

    &SubCategory {
        display: flex;
        flex-direction: column;

        &Group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        & span {
            margin-bottom: 16px;
        }
    }
}

.CheckboxCategory {
    overflow-wrap: break-word;

    &Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        padding: 5px 10px 3px 8px;

        &:hover {
            background-color: var(--BG_secondary8);
        }

        & span {
            margin: 0 !important;
            padding-bottom: 3px;
            color: var(--labelPrimary);
            text-transform: uppercase;
        }

        & input {
            width: 20px;
            height: 20px;
            border-radius: 6.6px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--BG_secondary8);
            cursor: pointer;
            transition: var(--transition)
        }

        // & input {
        //     display: none;
        //     opacity: 0;
        //     z-index: 0;
        // }
    }

    &__circle {
        position: relative;
        z-index: 11000;
        width: 18px;
        height: 18px;
        transition: var(--transition)
    }
}

.check__active {
    transition: var(--transition);
    background-color: var(--BG_secondary8);
}

.cir__active {
    background: url('public/img/Subtract.svg') no-repeat 50% 50%;
    transition: var(--transition)
}