.mod {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5 !important;
    background-color: rgba($color: #000000, $alpha: .4);
    &__container {
        position: absolute;
        right: 65px;
        bottom: 120px;
        width: 200px;
        background-color: var(--BG_secondary100);
        z-index: 6 !important;
        padding: 16px;
        border-radius: 20px;
    }

}