@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-light-italic.ttf") format("truetype"); 
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-regular.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-regular-italic.ttf") format("truetype"); 
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-medium.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-medium-italic.ttf") format("truetype"); 
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-semibold.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-semibold-italic.ttf") format("truetype"); 
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-bold.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Rawline"; 
    src: url("../../public/fonts/rawline/rawline-bold-italic.ttf") format("truetype"); 
    font-style: italic;
    font-weight: 700;
}

