:root{
    --labelPrimary: #102B32;
    --labelSecondary: rgb(16, 43, 50, 0.8);
    --labelTertiary: rgb(16, 43, 50, 0.6);
    --accent: #F99D12;
    --intElements: #1E8CAF;
    --intElementsHover: #1482A5;
    --negativeIntElements: #DE9151;
    --separator: #D3DADC;
    --section: #4F345A;
    --sysColor: #000;
    --white: #fff;
    --black: #000;
    --popUp: #DEE8EB;
    --goldCardButton: #D2E8EF;

    --BG_primary: #fff;
    --BG_secondary8: rgb(73, 162, 190, 0.08);
    --BG_secondary100: rgb(245, 249, 250, 1);
    --BG_tertiary: rgb(225, 233, 234, 1);
    --BG_challenge_menu: rgb(30, 140, 175, 0.2);

    --Button_Label: white;
    --Button_FillWithBlur: rgb(30, 140, 175, 0.8);
    --Button_Hover: rgb(20, 130, 165, 0.8);

    --BL_Button_Label: white;
    --BL_Button_FillWithBlur: rgb(79, 52, 90, 1);
    --BL_Button_Hover: rgb(103, 59, 121, 1);
    --BL_separator: rgb(69, 42, 80, 1);

    --PR_Button_Label: white;
    --PR_Button_FillWithBlur: rgb(249, 175, 18, 1);
    --PR_Button: rgb(16, 43, 50, 1);
    --PR_Button_Hover: rgb(39, 75, 84, 1);
    --PR_separator: rgb(229, 137, 0, 1);
    
    --BS_Button_Label: white;
    --BS_Button_FillWithBlurBased: rgba(249,157,18,1);
    --BS_Button_FillWithBlur: linear-gradient(90deg, rgba(249,157,18,1) 0%, rgba(185,211,81,1) 100%);
    --BS_Button: rgb(16, 43, 50, 1);
    --BS_Button_Hover: rgb(39, 75, 84, 1);
    --BS_separator: rgb(229, 137, 0, 1);
}

html, body, #root{
    height: auto;
}

body, #root {
    display: flex;
    user-select: none;
}

.Login, .Main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-height: 100vh;
}

.Container {
    min-width: 90vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Rawline';
    &-80{
        @extend .title;
        font-size: 80px;
    }
    &-48{
        @extend .title;
        font-size: 48px;
    }
    &-25{
        @extend .title;
        font-size: 25px;
    }
    &-18{
        @extend .title;
        font-size: 18px;
    }
    &-11{
        @extend .title;
        font-size: 11px;
    }
}

.text{
    font-family: 'Rawline';
    &-96{
        @extend .text;
        font-size: 96px;
    }
    &-64{
        @extend .text;
        font-size: 64px;
    }
    &-36{
        @extend .text;
        font-size: 36px;
    }
    &-28{
        @extend .text;
        font-size: 28px;
    }
    &-18{
        @extend .text;
        font-size: 18px;
    }
    &-17{
        @extend .text;
        font-size: 17px;
    }
    &-14{
        @extend .text;
        font-size: 14px;
    }
    &-12{
        @extend .text;
        font-size: 12px;
    }
    &-11{
        @extend .text;
        font-size: 11px;
    }
}

.italic { font-style: italic; }

.bold { font-weight: 700; }
.semibold { font-weight: 600; }
.medium { font-weight: 500; }
.regular { font-weight: 400; }
.light { font-weight: 300; }

.error {color: #FF3232 !important;}

