.FormInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    &>label {
        margin-bottom: 10px;
    }
    &>input {
        border: none;
        border-bottom: 1px solid var(--separator);
        height: 28px;
        background-color: transparent;
        padding-left: 10px;
        &:focus-visible {
            border: none;
            border-bottom: 2px solid var(--labelPrimary);
        }
    }
}