.DefaultButton {
    color: var(--Button_Label);
    border: none;
    border-radius: 12px;
    background-color: var(--intElements);
    padding: 8px 50px 9px 50px;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: var(--intElementsHover);
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    &:active {
        background-color: var(--BG_secondary8);
        color: var(--negativeIntElements);
        transition: 0.1s ease-in-out;
        cursor: pointer;
    }
}