.LoginButton {
    border: 0;
    background-color: var(--BG_secondary8);
    padding: 10.5px 39.225px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;    
    max-height: 50px;
    cursor: pointer;
}

.LoginButton:hover, .LoginButton:active {
    background-color: transparent;
    transition: 0.3s ease-in-out;    
}

