.SeeAll {
    width: 100%;
    padding: 15px 0 12px 0;
    border: none;
    border-radius: 12px;
    font-weight: 400 !important;
    background: transparent;
    transition: 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: var(--BG_secondary8);
        font-weight: 500 !important;
        transition: 0.2s ease-in-out;
    }
}