.SidebarButton {
    display: flex;
    align-items: center;
    width: 180px;
    height: 34px;
    text-align: left;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
        background-color: var(--BG_secondary8);
    }
    &:active {
        background-color: var(--BG_secondary8);
    }
    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        margin-left: 12px;
    }
    & span {
        letter-spacing: 0.5px;
    }
}

