.overlay {
    z-index: 2 !important;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
}
.modal {
    z-index: 3 !important;
    width: 310px;
    height: 109px;
    padding: 20px;
    background-color: var(--BG_secondary100);
    border-radius: 20px;
    position: absolute;
    top: 82px;
    right: 275px;
    box-shadow: 2px 3px 5px  rgba($color: #000000, $alpha: .3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    &__item:first-child{
        padding-bottom: 12px;
        border-bottom: 1px solid var( --BG_secondary8);
    }
    &__item:last-child{
        padding-top: 12px;
    }
}