.DeleteProfile-overlay {
    z-index: 15000 !important;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
  
.DeleteProfile-box {
    z-index: 16000 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 550px;
    height: 308px;
    padding: 7px 0 40px 0;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
}

.DeleteProfileClose {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    &>button {
        margin-right: 6px;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.DeleteProfileTitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & h2 {
        margin-left: 10px;
        text-transform: uppercase;
        padding-bottom: 3px;
    }
}

.DeleteProfileContent {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    &Choose {
        display: flex;
        justify-content: space-between;
    }
    & span {
        text-align: center;
        margin-bottom: 20px;
    }
}