.ChooseSignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--BG_secondary8);
    border-radius: 20px;
    width: 240px;
    padding: 28px 49px;
    & img {
        width: 64px;
        margin-bottom: 10px;
    }
    & p {
        color: var(--intElements);
    }
    &:hover {
        cursor: pointer;
    }
}