.Sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    // position: fixed; TODO: Fixed Siderbar
    width: 210px;
    height: 100%;
    background-color: var(--BG_secondary100);
    border-right: 1px solid var(--separator);
    &Contacts{
        display: inline;
        position: fixed;
        bottom: 30px;
        left: 15px;
        width: 180px;
        & button{
            background-color: transparent;
            width: 86px;
            height: 20px;
            line-height: 13px;
            cursor: pointer;
            user-select: none;
            border: none;
            margin-bottom: 20px;
        }
        &Social {
            margin-top: 20px;
            display: flex;
            justify-content: start;
            & li{
                list-style-type: none;
            }
            & > *:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.logo {
    //TODO: DO RESPONSIVE LOGO
    width: 106px;
    height: 55px;
    margin: 30px 0 40px 0;
    background: transparent url('../../img/logo-max.svg') 50% 50%;
}

