.Contacts-overlay {
    z-index: 9;
    min-width: 88.29vw;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0; //TODO Adaptive
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contacts {
    z-index: 9;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--BG_primary);
    width: 462px;
    min-height: 100%;
    top: 0;
    left: 0;
    user-select: none;
    &Title {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 30px;
        background-color: var(--BG_secondary100);
        border-bottom: 1px solid var(--separator);
        & h1 {
            margin-bottom: 25px;
        }
        & button {
            width: 28px;
            height: 28px;
            margin-right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    &Info {
        margin-left: 20px;
        margin-bottom: 80px;
        & h2 {
            margin-bottom: 20px;
        }
        & h3 {
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        & a {
            color: var(--intElements);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        & hr {
            margin: 20px 10px; 
        }
        & > *:nth-child(2), *:nth-child(5), *:nth-child(8) {
            margin-bottom: 10px;
        }
    }
    & .icon {
        width: 212px;
        margin: 125px;
    }
}
  