.Settings-overlay {
    z-index: 9999 !important;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
  
.Settings-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 580px;
    height: 530px;
    padding: 12px;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
}

.SettingsTitle {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    & h2 {
        margin-left: 20px;
    }
    & button {
        position: relative;
        top: -48px;
        right: -192px;
        width: 28px;
        height: 28px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}